@page "/departments/edit/{id}"
@page "/departments/edit"
@page "/departments/edit/{action}/{id}"


@using BlazorControlCefa.Data.Entities
@using BlazorControlCefa.Data.Enums
@using BlazorControlCefa.Repositories.Department

@inject IDepartmentRepository DepartmentRepository

@inject NavigationManager NavigationManager

@attribute [Authorize(Policy = "departmentView-policy")]

<PageTitle>@Titulo Departamento</PageTitle>
<h3>@Titulo Departamento</h3>

@if (Department is null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="Department" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@

        <div class="row mb-3">

            <div class="col-md-6">
                <label class="control-label">Estado</label>
                <h4>
                    <span class="badge @(Department.IsActive? "bg-primary": "bg-secondary")">
                        @(Department.IsActive? "Activo": "Inactivo")
                    </span>
                </h4>
            </div>
        </div>        

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="Name" class="control-label">Nombre</label>
            <InputText id="name" @bind-Value="Department.Name" class="form-control" disabled="@(DisabledComponent)" />            
            <ValidationMessage For="@(()=> Department.Name)" />
        </div>        
    </div>    

    <button type="submit" class="btn @(Action=="delete"? "btn-danger" : "btn-primary") @(HideSave? "visually-hidden" : string.Empty)">
        @ButtonTitle
    </button>

    <button type="button" class="btn btn-secondary" @onclick="OnCancel">Cancelar</button>

    <figure class="@(Action!="delete"? "visually-hidden" : string.Empty)">
        <blockquote class="blockquote">
            <p>Está seguro de borrar este registro?.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            El registro no se va borrar de la base de dato, quedará en estado <cite title="Inactivo">Inactivo</cite>
        </figcaption>
    </figure>
</EditForm>

}

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Action { get; set; }    

    private Department Department { get; set; } = new Department { IsActive = true };    
    
    private bool HideSave { get; set; } = false;
    private bool DisabledComponent { get; set; } = false;    

    private string Titulo { get; set; }
    private string ButtonTitle { get; set; } = "Guardar";

    protected async override Task OnInitializedAsync()
    {
        
        int.TryParse(Id, out int iDepartmentId);

        if (!string.IsNullOrEmpty(Action))
        {
            Department = await DepartmentRepository.GetDepartmentAsync(iDepartmentId);

            switch (Action)
            {
                case "delete":
                    {
                        Titulo = "Borrar";
                        ButtonTitle = "Borrar";                        

                        DisabledComponent = true;
                    }
                    break;

                case "detail":
                    {
                        Titulo = "Detalle";

                        HideSave = true;
                        DisabledComponent = true;
                    }
                    break;
            }
        }
        else
        {
            if (iDepartmentId != 0)
            {
                Titulo = "Editar";
                Department = await DepartmentRepository.GetDepartmentAsync(iDepartmentId);
            }
            else
            {
                Titulo = "Nuevo";
                Department = new Department();
            }
        }
    }

    private async Task OnValidSubmit()
    {
        bool success = false;

        if (!string.IsNullOrEmpty(Action))
        {
            switch (Action)
            {
                case "delete":
                    {
                        DepartmentRepository.DeleteDepartment(Department);
                        success = await DepartmentRepository.SaveAsync();
                    }
                    break;
            }
        }
        else
        {
            if (Department.Id != 0)
            {
                DepartmentRepository.UpdateDepartment(Department);
                success = await DepartmentRepository.SaveAsync();
            }
            else
            {
                await DepartmentRepository.AddDepartment(Department);
                success = await DepartmentRepository.SaveAsync();
            }
        }

        if (success)
            NavigationManager.NavigateTo("/departments");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/departments");
    }    
}
