@page "/reasons/edit/{id}"
@page "/reasons/edit"
@page "/reasons/edit/{action}/{id}"


@using BlazorControlCefa.Data.Entities
@using BlazorControlCefa.Data.Enums
@using BlazorControlCefa.Repositories.Reason

@inject IReasonRepository ReasonRepository

@inject NavigationManager NavigationManager

@attribute [Authorize(Policy = "reasonsView-policy")]

<PageTitle>@Titulo Motivos</PageTitle>
<h3>@Titulo Motivos</h3>

@if (Reason is null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="Reason" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@

        <div class="row mb-3">

            <div class="col-md-6">
                <label class="control-label">Estado</label>
                <h4>
                    <span class="badge @(Reason.IsActive? "bg-primary": "bg-secondary")">
                        @(Reason.IsActive? "Activo": "Inactivo")
                    </span>
                </h4>
            </div>
        </div>        

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="Name" class="control-label">Nombre</label>
            <InputText id="name" @bind-Value="Reason.Name" class="form-control" disabled="@(DisabledComponent)" />            
            <ValidationMessage For="@(()=> Reason.Name)" />
        </div>        
    </div>    

    <button type="submit" class="btn @(Action=="delete"? "btn-danger" : "btn-primary") @(HideSave? "visually-hidden" : string.Empty)">
        @ButtonTitle
    </button>

    <button type="button" class="btn btn-secondary" @onclick="OnCancel">Cancelar</button>

    <figure class="@(Action!="delete"? "visually-hidden" : string.Empty)">
        <blockquote class="blockquote">
            <p>Está seguro de borrar este registro?.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            El registro no se va borrar de la base de dato, quedará en estado <cite title="Inactivo">Inactivo</cite>
        </figcaption>
    </figure>
</EditForm>

}

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Action { get; set; }    

    private Reason Reason { get; set; } = new Reason { IsActive = true };    
    
    private bool HideSave { get; set; } = false;
    private bool DisabledComponent { get; set; } = false;    

    private string Titulo { get; set; }
    private string ButtonTitle { get; set; } = "Guardar";

    protected async override Task OnInitializedAsync()
    {
        
        int.TryParse(Id, out int iReasonId);

        if (!string.IsNullOrEmpty(Action))
        {
            Reason = await ReasonRepository.GetReasonAsync(iReasonId);

            switch (Action)
            {
                case "delete":
                    {
                        Titulo = "Borrar";
                        ButtonTitle = "Borrar";                        

                        DisabledComponent = true;
                    }
                    break;

                case "detail":
                    {
                        Titulo = "Detalle";

                        HideSave = true;
                        DisabledComponent = true;
                    }
                    break;
            }
        }
        else
        {
            if (iReasonId != 0)
            {
                Titulo = "Editar";
                Reason = await ReasonRepository.GetReasonAsync(iReasonId);
            }
            else
            {
                Titulo = "Nuevo";
                Reason = new Reason();
            }
        }
    }

    private async Task OnValidSubmit()
    {
        bool success = false;

        if (!string.IsNullOrEmpty(Action))
        {
            switch (Action)
            {
                case "delete":
                    {
                        ReasonRepository.DeleteReason(Reason);
                        success = await ReasonRepository.SaveAsync();
                    }
                    break;
            }
        }
        else
        {
            if (Reason.Id != 0)
            {
                ReasonRepository.UpdateReason(Reason);
                success = await ReasonRepository.SaveAsync();
            }
            else
            {
                await ReasonRepository.AddReason(Reason);
                success = await ReasonRepository.SaveAsync();
            }
        }

        if (success)
            NavigationManager.NavigateTo("/reasons");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/reasons");
    }    
}
